{% extends 'main/body.html' %}

{% block title %}
Про нас
{% endblock %}

{% block body %}
    <!-- Про нас -->
	<div class="about" id="ABOUT">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <img src="static/main/img/pepsilviv.jpg" class="img-fluid" alt="про нас картинка">
                </div>
    
                <div class="col-xs-12 col-sm-12 col-md-8 desk">
                    <h2>Про нас</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis rerum repellat vel temporibus quis excepturi sunt iste quo vitae iusto eaque commodi sequi, placeat tempora, voluptate eius praesentium soluta quam!</p>
                </div>
            </div>
        </div>
        </div>    
{% endblock %}